@model List<Product>

<div class="row my-3 my-4">
    @foreach (Product prd in Model)
    {
            <partial name="_ProductCard" model="@prd" />
    }
</div>

@section Footer {
    <div>
        Footer: Index
    </div>
}